{% extends "GradeManagement\staff_dashboard.html" %}

{% block title %}
	Admin // {{course.Name}} - Grade Management System
{% endblock %}

{% block f_admin_active %}
	active
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1>
		{{course.Name}}
		<small class="text-muted">Course Detail</small>
	</h1>
</div>
<dl class="row">
	<dt class="col-md-2">
		Semester
	</dt>
	<dd class="col-md-10">
		{{course.SemesterOfCourse.Title}}
	</dd>
</dl>
<div class="row">
	<div class="col">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2">
			<h4>Students</h4>
			<a href="{% url 'admin-course-enrollments' course.id %}" class="btn btn-sm btn-outline-warning" type="button">
				Edit Enrollments
			</a>
		</div>
		<table class="table table-sm table-striped">
			<thead>
				<tr>
					<th scope="col">Student Name</th>
					<th scope="col">Final Grade</th>
				</tr>
			</thead>
			<tbody>
				{% for e in enrollments %}
				<tr>
					<td scope="col">{{e.Students.first_name}} {{e.Students.last_name}}</td>
					<td scope="col">
						{% if e.Grade > -1 %}
						{{e.Grade}}
						{% else %}
						-
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2">
			<h4>Assignments</h4>
		</div>
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">Assignment Name</th>
				</tr>
			</thead>
			<tbody>
				{% for a in assignments %}
				<tr>
					<td scope="col">{{a.Title}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}


{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'admin-home' %}">Administration</a></li>
<li class="breadcrumb-item"><a href="{% url 'admin-courses' %}">Courses</a></li>
<li class="breadcrumb-item active">{{course.Name}}</li>
{% endblock %}
