{% extends "GradeManagement\staff_dashboard.html" %}

{% block f_home_active %}
	active
{% endblock %}
{% block f_home_link %}
	#
{% endblock %}
{% block title %}
	Staff Home - Grade Management System
{% endblock %}

{% block content %}
<h1>
	Staff Home
</h1>
<h3>
	Click a link to the left, or click a course from below
</h3>
<p>
	<h5>Your Courses</h5>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Semester</th>
				<th scope="col">Course Name</th>
				<th scope="col">Students</th>
				<th scope="col">Assignments</th>
			</tr>
		</thead>
		<tbody>
			{% for c in courses %}
			<tr>
				<td scope="col">{{c.SemesterOfCourse.Title}}</td>
				<td scope="col"><a href="{% url 'staff-course-detail' c.id %}">{{c.Name}}</a></td>
				<td scope="col">{{c.enrollment_set.all.count}}</td>
				<td scope="col">{{c.assignment_set.all.count}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</p>
{% endblock %}
