{% extends "GradeManagement\staff_dashboard.html" %}

{% block title %}
	{{course.Name}} - Grade Management System
{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
	<h1>
		{{course.Name}}
		<small class="text-muted">Course Detail</small>
	</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
		<a class="btn btn-sm btn-outline-warning" type="button" href="{% url 'staff-admin-course-edit' course.id %}">
			Edit in Admin Panel
		</a>
	</div>
</div>
<dl class="row">
	<dt class="col-md-2">
		Semester
	</dt>
	<dd class="col-md-10">
		{{course.SemesterOfCourse.Title}}
	</dd>
</dl>
<div class="row">
	<div class="col">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2">
			<h4>Students</h4>
			<a href="{% url 'staff-courses-final-grades' course.id %}" class="btn btn-sm btn-outline-warning" type="button">
				Input Final Grades
			</a>
		</div>
		<table class="table table-sm table-striped">
			<thead>
				<tr>
					<th scope="col">Student Name</th>
					<th scope="col">Final Grade</th>
				</tr>
			</thead>
			<tbody>
				{% for e in enrollments %}
				<tr>
					<td scope="col">{{e.Students.first_name}} {{e.Students.last_name}}</td>
					<td scope="col">
						{% if e.Grade > -1 %}
						{{e.Grade}}
						{% else %}
						-
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col">
		<div class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2">
			<h4>Assignments</h4>
			<a class="btn btn-sm btn-outline-warning" type="button" href="{% url 'staff-courses-assignment-create' course.id %}">
				Add Assignment
			</a>
		</div>
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">Assignment Name</th>
				</tr>
			</thead>
			<tbody>
				{% for a in assignments %}
				<tr>
					<td scope="col"><a href="{% url 'staff-courses-assignment-detail' course.id a.id %}">{{a.Title}}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
