{% extends "GradeManagement\student_dashboard.html" %}

{% block title %}
	{{course.Name}} - Grade Management System
{% endblock %}

{% block content %}
<h1>
	Course Detail
</h1>
<dl class="row">
	<dt class="col-sm-3">Name</dt>
	<dd class="col-sm-3">{{course.Name}}</dd>

	<dt class="col-sm-3">Teacher</dt>
	<dd class="col-sm-3">{{course.Teacher.first_name}} {{course.Teacher.last_name}}</dd>

	<dt class="col-sm-3">Semester</dt>
	<dd class="col-sm-3">{{course.SemesterOfCourse.Title}}</dd>
</dl>

<h4>Assignments</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Title</th>
			<th scope="col">Due Date</th>
			<th scope="col">Description</th>
			<th scope="col">Grade</th>
		</tr>
	</thead>
	<tbody>
		{% for assignment in grades %}
		<tr>
			<td>{{ assignment.Title }}</td>
			<td>{{ assignment.Due_date|date:"N jS, P" }}</td>
			<td>{{ assignment.Description }}</td>
			<td>
			{% if assignment.Grade is None %}
				--
			{% else %}
				{{ assignment.Grade }}
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3" class="text-right">Average</td>
			<td>{{ average }}</td>
		</tr>
	</tbody>
</table>
{% endblock %}
