{% extends "GradeManagement\student_dashboard.html" %}

{% block s_home_active %}
	active
{% endblock %}
{% block s_home_link %}
	#
{% endblock %}
{% block title %}
	My Student Home - Grade Management System
{% endblock %}

{% block content %}
<h1>
	Courses:
</h1>
	{% for course in courses %}
		<div>
			<ul>
				<br>
				<h4> Student: {{ course.Students }} </h4>
				<h4> Course: {{ course.Course }} </h4>
				<h4> Grade: {{ course.Grade }} </h4>
				<br>
			</ul>
		</div>
	{% endfor %}
{% endblock %}
